[submodule "extern/kissfft"]
	path = extern/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "extern/portaudio"]
	path = extern/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "extern/sndfile"]
	path = extern/sndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "extern/nfd"]
	path = extern/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git
